doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/project/create' style="margin-right:10px") New Project

      a(href='/project') All Projects
    block content
